@{
    ViewBag.Title = "Potwierdzenie prowadzenia kursu poprawkowego";
    Layout = "_Layout";
}

<h2>Potwierdzenie prowadzenia kursu poprawkowego</h2>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            <div class="jumbotron">
                <div class="alert alert-success" role="alert">
                    <strong>Gratulację!</strong> Zaakceptowałeś potwierdzenie prowadzenia kursu poprawkowego!
                    Informacja została wysłana do studentów. Do zobaczenia na najbliższych zajęciach!
                </div>
            </div>
    </div>
    <div class="col-md-2"></div>
</div>