@{
    ViewBag.Title = "Potwierdzenie prowadzenia kursu poprawkowego";
    Layout = "_Layout";
}

<h2>Potwierdzenie prowadzenia kursu poprawkowego</h2>
<div class="container">
<div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <div class="alert alert-info" role="alert">
                <strong>Link niekatywny!</strong>
                Link wygasł, bądź jest niepoprawny.
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>