@{
    ViewBag.Title = "Potwierdzenie prowadzenia kursu poprawkowego";
    Layout = "_Layout";
}

<h2>Potwierdzenie prowadzenia kursu poprawkowego</h2>

<div class="jumbotron">
    <div class="alert alert-danger" role="alert">
        Odrzuciłeś potwierdzenie prowadzenia kursu poprawkowego.
        Informacja została wysłana do studentów.
    </div>
</div>