@{
    ViewBag.Title = "Tworzenie podania";
    Layout = "_Layout";
}

<h2>Podanie zostało stworzone!</h2>

<div class="jumbotron">
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>

    <button type="button" class="btn btn-success">ZOBACZ PODANIE</button>
    <button type="button" class="btn btn-success">WYŚLIJ DO ROZPATRZENIA</button>

</div>