@{
    ViewBag.Title = "Tworzenie podania";
    Layout = "_Layout";
}

<h2>Podanie zostało stworzone!</h2>

<div class="jumbotron">
    <div class="alert alert-success" role="alert">
        <strong>Gratulację!</strong> Udało Ci się stworzyć podanie o kurs poprawkowy!<br/>
        Prośba o prowadzenie kursu poprawkowego została wysłana do prowadzącego
    </div>

    <button type="button" class="btn btn-success" disabled>ZOBACZ PODANIE</button>
    <button type="button" class="btn btn-success" disabled>WYŚLIJ DO ROZPATRZENIA</button>

</div>